.pokemonText{
  font-family: PokemonGb;
  color:black;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 10%;
  background-color: white;
  margin-top: 9%;
}

.nameInput{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2%;
}

.guessInputButton{
  color:white;
  background-color: red;
}

.guessInputButton:hover{
  border: 1px solid black;
}


/* Media queries */
@media(max-width: 425px){
  .container{
    gap: 5%;
  }
}

@media(max-width: 375px){
  .container{
    gap: 3%;
  }

  .nameInput{
    width: 94%;
  }
}


