.pokemonText{
  font-family: PokemonGb;
  color:black;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 1%;
}

.nameInput{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}