

.pokemonText{
  font-family: PokemonGb, serif;
  color:black;
}

.page{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 5%;
  background-image: url('../../../public/pixelArtBackground.jpg');
  background-size: 100% 100%;
}

/* Media queries */
@media(max-width: 425px){
  .container{
    gap: 5%;
  }
}

@media(max-width: 375px){
  .container{
    gap: 3%;
  }

  .nameInput{
    width: 94%;
  }
}




