.pokemonText{
  font-family: PokemonGb, serif;
  color:black;
}

.container{
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 5%;
  background-color: white;
}

.nameInput{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2%;
}

.guessInputButton{
  color:white;
  background-color: red;
}

.guessInputButton:hover{
  border: 1px solid black;
}

.return{
  width: 95%;
}

.returnButton{
  background-color: red;
  color: white;
  max-width: 93%;
}

.returnButtonImage{
  width: 1.2rem;
}

.hints{
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: 1%;
  height: 13%;
  margin-bottom: 1.5%;
}

.hide{
  display: none;
}

.gameContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}

.guessContainer{
  display: flex;
  height: 6.4%;
  margin-top: 2%;
  gap: 2%;
}

.hintLine{
  display: flex;
  gap: 0.1rem;
  align-items: center;
  justify-content: center;
}

.heart{
  transform: scale(0.6);
}


/* Media queries */
@media(max-width: 425px){
  .container{
    gap: 5%;
  }
}

@media(max-width: 375px){
  .container{
    gap: 3%;
  }

  .nameInput{
    width: 94%;
  }
}




